@import '../node_modules/sass-material-colors/sass/sass-material-colors';

$album-size: 300px;

.album {
  position: relative;
  margin: 20px;
  width: $album-size;
  height: $album-size;
  @include box-shadow(0px 3px 15px rgba(0,0,0,0.2));

  display: inline-flex;
  align-items: center;
  justify-content: center;

  .shape {
    width: 50%;
    height: 50%;
  }
}
