server/node_modules
server/dist
client/dist
client/tmp
client/out-tsc
client/node_modules
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log
client/typings
client/e2e/*.js
client/e2e/*.map
.DS_Store
Thumbs.db

# npm-debug.log
# testem.log
